<launch>
<arg name="device_left" default='/dev/video1'/>
<arg name="device_right" default='/dev/video2'/>

<!-- left camera -->
<node name="left" pkg="usb_cam" type="usb_cam_node">
        <param name='~video_device' type='string' value='$(arg device_left)'/>
        <param name='~image_width' type='int' value='320'/>
        <param name='~image_height' type='int' value='240'/>
        <param name='~pixel_format' type='string' value='mjpeg'/>
        <param name='~camera_frame_id' type='string' value='/left'/>
</node>

<!-- right camera -->
<node name="right" pkg="usb_cam" type="usb_cam_node">
        <param name='~video_device' type='string' value='$(arg device_right)'/>
        <param name='~image_width' type='int' value='320'/>
        <param name='~image_height' type='int' value='240'/>
        <param name='~pixel_format' type='string' value='mjpeg'/>
        <param name='~camera_frame_id' type='string' value='/right'/>
</node>

</launch>
