<launch>
<arg name="device_left" default='/dev/video1'/>
<arg name="device_right" default='/dev/video2'/>

<group ns="stereo">

<!-- left camera -->
<include file="$(find shared_tutorial)/launch/usb_mono_camera.launch">
    <arg name="device" value="$(arg device_left)"/>
    <arg name="frame_id" value="left"/>
    <arg name="name" value="left"/>
</include>

<!-- right camera -->
<include file="$(find shared_tutorial)/launch/usb_mono_camera.launch">
    <arg name="device" value="$(arg device_right)"/>
    <arg name="frame_id" value="left"/>
    <arg name="name" value="right"/>
</include>

</group>
</launch>
